* {
  padding: 0%;
  margin: 0%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  background-color: #929a98;
  width: 100vw;
  height: 100vh;
}

.Categories {
  width: 400px;
  display: flex;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}

.Categories > button {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.header {
  background-color: #21463f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(80, 173, 142);
  padding: 10px;
  /* height: 15vh; */
}

.header .searchbox input {
  border-radius: 10px;
  padding: 5px;
  border: none;
  font-size: 1rem;
}

.container {
  width: 100%;
  display: flex;
}

.leftDiv {
  height: 85vh;
  width: 20vw;
  /* background-color: #768e8a; */
  flex: 1 2 auto;
}

.rightDiv {
  height: 85vh;
  width: 80vw;
  /* background-color: aqua; */
  flex: 1 1 auto;
}

.animeRow {
  width: 100%;
  height: 50%;
}
.row {
  width: 100%;
  height: 220px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card {
  height: 180px;
  width: 100px;
  background-color: rgb(12, 61, 57);
  padding: 5px;
  margin: 5px;
}

.cardimg > img {
  height: 130px;
  width: 100px;
}

.animeInfo {
  /* padding: 5px; */
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  color: rgb(206, 228, 221);
  /* background-color: aliceblue; */
  /* overflow: hidden; */
}
.leftDiv {
  height: 89vh;
  background-color: rgb(86, 107, 102);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 10px;
  padding-left: 10px;
}

.animeInfoComps {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 10px;
}

.animeInfo > h4 {
  font-size: 9px;
  text-align: center;
}

.animeInfoComps img {
  height: 180px;
  width: 130px;
}

.infoinfo {
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inftit {
  text-align: center;
}

.overlayCard {
  position: absolute;
  padding-bottom: 10px;
  /* bottom: 0; */
  width: 100%;
  height: 20px;
  background-color: rgb(67, 115, 113);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: aliceblue;
  transition: 0.5s;
}

.animeInfo:hover .overlayCard {
  opacity: 1;
  height: 90%;
}
